@charset "UTF-8";



@media screen {

    /*#barcode {
        display: block;
        margin: auto;
    }

    #description{
        font-size: x-large;
    }

    #price1, #price2{
        font-weight: bolder;
        font-size: x-large;
    }

    #price2{
        font-family: Calibri;
        font-size: 360%;
        color: red;
    }*/

    #barcode {
        display: block;
        margin: auto;
    }

    #description{
        font-size: small;
    }

    #price1, #price2{
        font-weight: bolder;
        font-size: x-large;
    }

    #price2{
        font-size: 360%;
        color: red;
    }

    #info2{
        font-weight: bold;
    }

    #info-in{
        font-weight: normal;
        font-size: x-small;
    }
}

@media print{

    @page  {
        size: 5.8in 4in;
    }

    #container1, hr{
        display: none;
    }

    #barcode {
        display: block;
        margin: auto;
    }

    #description{
        font-size: small;
    }

    #price1, #price2{
        font-weight: bolder;
        font-size: x-large;
    }

    #price2{
        font-size: 250%;
        color: red;
    }

    #info1{
        font-size: medium;
    }

    #info2{
        font-weight: bold;
        font-size: medium;
    }

    #info-in{
        font-weight: normal;
        font-size: x-small;
    }

    /*.card{
        border: 0px;
        padding: 0px 0px 0px 0px;
    }*/

    .col-print-1 {width:8%;  float:left;}
    .col-print-2 {width:16%; float:left;}
    .col-print-3 {width:25%; float:left;}
    .col-print-4 {width:33%; float:left;}
    .col-print-5 {width:42%; float:left;}
    .col-print-6 {width:50%; float:left;}
    .col-print-7 {width:58%; float:left;}
    .col-print-8 {width:66%; float:left;}
    .col-print-9 {width:75%; float:left;}
    .col-print-10{width:83%; float:left;}
    .col-print-11{width:92%; float:left;}
    .col-print-12{width:100%; float:left;}
}