@charset "UTF-8";



@media screen {

    .barcode {
        display: block;
        margin: auto;
    }

    #description{
        font-size: medium;
    }

    #price1, #price2{
        font-weight: bolder;
        font-size: x-large;
    }

    #price2{
        font-size: 360%;
        color: red;
    }

    #info1{
        font-size: small;
    }

    #info2{
        font-weight: bold;
        font-size: medium;
    }

    #info-in{
        font-weight: normal;
        font-size: x-small;
    }

    #title{
        font-size: x-large;
    }

    #test{
        padding-bottom: 1in;
    }
}

@media print {

    @page {
        size: 5.8in 4in;
    }

    #container1,#count,#requested, hr {
        display: none;
    }

    .barcode {
        display: block;
        margin: auto;
    }

    #description {
        font-size: small;
    }

    #price1, #price2 {
        font-weight: bolder;
        font-size: x-large;
    }

    #price2 {
        font-size: 250%;
        color: red;
    }

    #info1 {
        font-size: small;
    }

    #info2 {
        font-weight: bold;
        font-size: small;
    }

    #info-in {
        font-weight: normal;
        font-size: x-small;
    }

    #test {
        padding-bottom: 8.2cm;
    }

    /* To remove card border from print
    /*
    .card{
        border: 0px;
        padding: 0px 0px 0px 0px;
    }*/
    .col-print-12 {
        width: 100%;
        float: left;
    }
}
